@import 'variable';

*{ margin:0; padding:0; box-sizing:border-box;}

body{background:url('../images/bg.png') no-repeat; background-attachment:fixed;font-family:$main-font; color:$main-text; margin-bottom:70px; font-size:16px;}
li{list-style:none}
a:link,a:hover,a:visited,a:focus{text-decoration:none; outline:none;}
img{ max-width:100%;}
h1,h2,h3,h4,h5,h6{font-weight:800;}

.my-profile-bg{ background-color:#09b5c4 ;}
.my-group-bg{background-color:#4e62d2}
.group{background-color:#24b24e; }
.quizess-bg{background-color:#246ca9}
.hacks-bg{background-color:#19b195}
.point-table-bg{background-color:#00d1cd}
.info-bg{background-color:#cc9040}
.edit-profile{background-color:#b56530}
.edit-profile{background-color:#b56530}
.login-bg{background-color:#67c728}

@-webkit-keyframes slideInLeft {
    0% {
		-webkit-transform: translate3d(-10%, 0, 0);
		transform: translate3d(-10%, 0, 0);
		visibility: visible;
	}
	to {
		-webkit-transform: translateZ(0);
		transform: translateZ(0);
	}
}

@keyframes slideInLeft {
    0% {
		-webkit-transform: translate3d(-10%, 0, 0);
		transform: translate3d(-10%, 0, 0);
		visibility: visible;
	}
    to {
        -webkit-transform: translateZ(0);
        transform: translateZ(0);
    }
}

.slideInLeft {
    animation:slideInLeft 1s;
}

@keyframes avtaranimation {
	0% {
		transform:translateY(0px);
		-webkit-transform:translateY(0px);
		-moz-transform:translateY(0px);
		-o-transform:translateY(0px);
		-ms-transform:translateY(0px);
	}

	50% {
	transform:translateY(-50px);
	-webkit-transform:translateY(-50px);
	-moz-transform:translateY(-50px);
	-o-transform:translateY(-50px);
	-ms-transform:translateY(-50px);
	}
	
	100% {
		transform:translateY(0px);
		-webkit-transform:translateY(0px);
		-moz-transform:translateY(0px);
		-o-transform:translateY(0px);
		-ms-transform:translateY(0px);
	}
}

.rotate-image {
	transform:rotateY(360deg);
}

@keyframes heading-cloud-animation {
	0% { background-position: 0x;}
	100% { background-position: 190px;}
}

/*=======header css start=========*/

#header {
	margin-top:40px;
	position:relative;

	nav {
	text-align:center;

		ul {
		text-align:center;
			
			li {
				display:inline;
				position:relative;
				
				a {
				    color: #fff;
					font-size: 16px;
					width: 117px;
					height: 75px;
					display: inline-block;
					text-align: center;
					padding-top: 30px;
    
					@include transition(all,0.5s);
				
					&.active,&:hover{
						background:url(../images/active-menu.png) left top no-repeat;
						color:#000;
					}
				}
			}
		}
	}
}

#menuCloseButton {
	background: url(../images/threelines.png) center center no-repeat;
	border: 1px solid #fff;
	cursor: pointer;
	height: 40px;
	position: absolute;
	right: 15px;
	top: 15px;
	width: 46px;
	z-index: 1000;
	display:none;
}

.swal-button,.swal-button:hover,.swal-button:link,.swal-button:visited{
    border: 0;
    border-radius: 15px;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font: 800 14px/1.1 Raleway, Lucida, sans-serif;
    padding: 7px 20px;
    text-transform: uppercase;
    transition: background-color 0.1s ease-in-out, transform 0.1s ease-in-out;
    text-decoration: none;
    outline: none;
	background:#24b24e;
}
.swal-footer{
	text-align:center;
}
/*=======header css end=========*/
/*-- owl carousel css start --*/
.owl-nav {
	position: absolute;
	top: -79px;
	right: 0px; }
	.owl-nav button {
	  outline: none; }
	  .owl-nav button.owl-prev, .owl-nav button.owl-next {
		width: 35px;
		line-height: 35px !important;
		background: #fff !important;
		border-radius: 50%;
		margin-left: 5px;
		font-size: 20px !important;
		text-align: center;
		font-weight: 600 !important; }
  
  /*-- owl carousel css end --*/
#main-wrapper {
	margin-top:70px;

	/*==== main left part css start ====*/
	.main-left {
		
		.avtar {
		text-align:center;

			img {
				animation:avtaranimation 4s infinite linear;
				-webkit-animation:avtaranimation 4s infinite linear;
				-moz-animation:avtaranimation 4s infinite linear;
				-o-animation:avtaranimation 4s infinite linear;
				-ms-animation:avtaranimation 4s infinite linear;
			}
		}
	
		.profile-info {
			background: url(../images/profile-info-bg.png);
			padding: 50px 35px;
			background-size: 100% 100%;
		
			h1 {
				font-size:24px;
				font-weight:800;
				color:#fff;
				padding-bottom:10px;
				margin:0;
			}
			
			img {
				display:block;
				margin:0 auto;
			}
			
			ul {
				
				li {
				padding:8px 0;	
				
					&:hover .point-number
					{
						transform:rotateY(360deg);
						-webkit-transform:rotateY(360deg);
						-moz-transform:rotateY(360deg);
						-o-transform:rotateY(360deg);
						-ms-transform:rotateY(360deg);
					}
					
					.point-number {
						font-size: 24px;
						color: #000;
						width: 50px;
						line-height: 50px;
						background: #fff;
						border-radius: 50%;
						display: inline-block;
						text-align:center;
						font-size:20px;
						font-weight:bold;	
						transition:all 1s;
						-webkit-transition:all 1s;
						-moz-transition:all 1s;
						-o-transition:all 1s;
						-ms-transition:all 1s;
					}

					.point-text {
						font-size:16px;
						margin-left:10px;
						color:#fff;
					}
				}
			}
		}
		
		#edit-profile {
			background: url(../images/button-bg.png);
			display: block;
			text-align: center;
			padding: 27px;
			background-size: 100%;
			font-size: 22px;
			color: #000;
			font-weight: bold;
			margin-top: 18px;

			&:hover{

			}
		}
	}
	/*==== main left part css end ====*/

	/*==== main right part css start ====*/
	.main-right {

		.activity-inner-wrap {
			text-align:center;
			font-weight:bold;
			font-size:14px;
					
			.circle-box  {
				
				img{
					@include transition(all,1s)
				}

				&:hover img{
					@extend .rotate-image;
				}
					
				p{
					color: #ffffff;
				}
			}
		}
	}
	/*==== main right part css end ====*/
}

.activities-heading {
	text-align: center;
	margin: 30px 0;
	background: url(../images/heading-bg.png) no-repeat center center;
	color: #fff;
	padding: 35px;
	animation:heading-cloud-animation linear 1s infinite alternate;
}

/*-- progress bar start --*/
.progress-bar-wrapper {
	margin-top:25px;

	h2 {
		color: #fff;
		font-size: 25px;
		text-transform: capitalize;
		padding-bottom:15px;
		margin:0;
	}
	
	.progress {
		height:28px;
		border-radius:20px;
		-webkit-border-radius:20px;
		-moz-border-radius:20px;
		-o-border-radius:20px;
		-ms-border-radius:20px;
		background: rgba(0,0,0,0.2);
		position:relative;
	
		.circle-start {
			width: 27px;
			line-height: 27px;
			background: #fff;
			border-radius: 50%;
			position: absolute;
			left: 0;
			text-align: center;
			font-weight: bold;
		}

		.circle-end {
			position: absolute;
			right: 14px;
			color: #fff;
			top: 3px;
			font-weight: bold;
		}
	
		.progress-bar {

			&.pink {
				background-color:#ee5e5a;
			}

			&.yellow {
				background-color:#f0ad4e;
			}
		}	
	}
}
/*-- progress bar end --*/

.flying-girl {
	position: absolute;
    top: 30px;
    left: 85%;
    z-index: -1;
	animation:girl-animation 300s linear infinite;
}

@keyframes girl-animation {
	0% {right:0%}
	100% {left:-15%; top:100%}
}

/*-- post form start --*/
.post-wrapper {

	.postform-textarea {
		height: 110px !important;
		font-family:$main-font;
		line-height:1.4;
		margin-bottom:15px;
	}
}

.form-control {
	resize: none;
	box-sizing: border-box;
	border-radius: 9px;
	border: 0;
	padding: 22px 25px;
	outline: 0;
	font-size: 15px;
	line-height: 0.7;
	color: #222;
	overflow: auto;
	vertical-align: top;
	background: rgba(0,0,0,0.3);
	color: #ffff;
	box-shadow: none;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	-ms-box-shadow: none;

	&:focus {
		box-shadow: none;
		-webkit-box-shadow: none;
		-moz-box-shadow: none;
		-ms-box-shadow: none;
	}

	&::placeholder {
		color:rgba(255,255,255,0.8);
	}
}

.btn-form {
	background: transparent;
	border: 2px solid #fff;
	border-radius: 15px;
	color: #fff;
	cursor: pointer;
	display: inline-block;
	font: 800 14px/1.1 Raleway,Lucida,sans-serif;
	padding: 7px 20px;
	text-transform: uppercase;
	-webkit-transition: background-color .1s ease-in-out,-webkit-transform .1s ease-in-out;
	-moz-transition: background-color .1s ease-in-out,-moz-transform .1s ease-in-out;
	-o-transition: background-color .1s ease-in-out,-o-transform .1s ease-in-out;
	transition: background-color .1s ease-in-out,transform .1s ease-in-out;
	text-decoration: none;
	outline: none;

	&:hover {
		background: #fff;
		color: #303838;
	}
}

.post-detail-wraper {
    margin-top: 30px;

	.post-item {
		margin-bottom:30px;

		.media-img {
			box-sizing: border-box;
			width: 10%;
			float: left;
			margin: 0 1%;
		}

		.media-body {
			float: left;
			width: 85%;
			margin: 0 1%;

			.author-info {
				margin-bottom: 10px;

				.author-name {
					font-size: 20px;
					line-height: .9;
					padding: 0 0 10px;
					margin: 0;
					color: #ffffff;
					font-weight: 700;
				}

				.author-date {
					color: #fff;
					font-size: 13px;
				}

				.author-status {
					color: #effd45;
					vertical-align: inherit;
				}
			}

			.post-content {
				color: #ffffff;
				background: rgba(0,0,0,0.3);
				border-radius: 5px;
				padding: 20px;
				font-size: 16px;
			 
			}
		}
	}
}
/*-- post form start --*/

/*-- quizzes start --*/
.quizzes-wrapper {

	.col-md-15 {
		float: left;
		width: 20%;
		padding: 15px;
	}

	p {
		font-weight: normal;
		color: #fff;
	}

	.circle-box {
		cursor: pointer;
		min-height: 195px;
	}
}

.quizzes-modal {

	.modal-content {
		border-radius: 20px;
		background: #20639b;

		.modal-body {
			position: relative;
			text-align: center;
			color: #ffffff;
			padding: 40px 15px;

			h1 {
				text-align: center;
				color: #ffffff;
				margin-bottom: 15px;
				margin-top: 0;
			}
		
			p {
				text-align: center;
				color: #ffffff;
			}

			a.btn-close {
				position: absolute;
				top: -10px;
				right: -10px;
				background: #fff;
				border-radius: 50%;
				width: 40px;
				line-height: 40px;
				text-align: center;

				img {
					width: 30%;
				}
			}
			
			.btn-form {
				margin-top: 20px;
			}
		}
	}
}

.quiz-progress-bar{
	 .progress{
	  .progress-bar.pink {
    background-color: #ee5e5a;
}
}
}
.disabled.page-cover {
    position: relative;
    height: 100%;
    p{
        width: 100%;
    text-align: center;
    padding: 300px 0;
    background: #333333d9;
    position: absolute;
    z-index: 9;
    top: -30px;
    font-size: 24px;
    color: #fff;
    }
}

/*-------quizzes table----------*/
#quizz_result table {
    background: #09b5c4;
    border: #fff solid 1px;
}

#quizz_result .table thead {
    background: #ea5f65;
}
#quizz_result .table tr td{
text-align:left;
}

.swal-modal {
    background: #eb5b61;
	border-radius:15px 50px;
}
.swal-icon--success:after, .swal-icon--success:before{
    background: #eb5b61;
}
.swal-icon--success__ring {
    border: 4px solid hsl(0, 0%, 100%);
}
.swal-icon--success__hide-corners {
    background-color: #fff0;
}
.swal-button.swal-button--confirm {
    background: #f5b556;
}

.swal-button.swal-button--confirm:hover {
    color: #f5b556;
	background:#fff;
}
.swal-button--cancel:hover {
	background-color: #fff;
	color: #24b24e;
}
.swal-title {
    color: #fff;
    font-size: 27px;
}
.swal-text {
    color: #fff;
    font-size: 18px;
	text-align:center;
}
.swal-icon--success__line {
    background-color: #f5b556;
}
/*-------quizzes table----------*/
/*-- quizzes end --*/

/*-- hacks start --*/
.smaller-plate-modal {

	.modal-content {
		border-radius: 20px;
		background: #14c3a3;

		.modal-body {
			position: relative;
			text-align: center;
			color: #ffffff;
			padding: 40px 15px;

			h1 {
				text-align: center;
				color: #ffffff;
				margin-bottom: 15px;
				margin-top: 0;
			}
		
			p {
				text-align: center;
				color: #ffffff;
			}

			a.btn-close {
				position: absolute;
				top: -10px;
				right: -10px;
				background: #fff;
				border-radius: 50%;
				width: 40px;
				line-height: 40px;
				text-align: center;

				img {
					width: 30%;
				}
			}

			label.btn-question {
				display: block;
				background: #ffffff;
				padding: 5px;
				margin: 15px;
				border-radius: 20px;
				color: #000000;
				box-shadow: 0px 4px 0px 0px rgba(0, 0, 0, 0.3);

				&:hover {
					background: rgba(255, 255, 255, 0.7);
				}
			}

			input[type=radio]:checked + label {
			background: rgba(154, 147, 147, 0.57);
			color:#fff;
			} 

			.question-box {
				margin: 50px 0;
			}

			.btn-form {
				margin-top: 20px;
			}
		}
	}
}

.race-modal {

	.modal-content {
		border-radius: 20px;
		background: #14c3a3;

		.modal-body {
			position: relative;
			text-align: center;
			color: #ffffff;
			padding: 40px 15px;

			h1 {
				text-align: center;
				color: #ffffff;
				margin-bottom: 15px;
				margin-top: 0;
			}
		
			p {
				text-align: center;
				color: #ffffff;
			}

			a.btn-close {
				position: absolute;
				top: -10px;
				right: -10px;
				background: #fff;
				border-radius: 50%;
				width: 40px;
				line-height: 40px;
				text-align: center;

				img {
					width: 30%;
				}
			}

			label.btn-question {
				display: block;
				background: #ffffff;
				padding: 5px;
				margin: 15px;
				border-radius: 20px;
				color: #000000;
				box-shadow: 0px 4px 0px 0px rgba(0, 0, 0, 0.3);
			}

			.btn-form {
				margin-top: 20px;
			}
 

			/*-- range slider start --*/
			.scale{
				display: none;
			}

			.pointer {
				cursor: pointer;
			}

			.slider-container {
				margin: 0 auto;
				padding: 100px 0 20px 0;
			}

			.pointer-label {
				font-size: 16px;
				background: white;
				width: 40px;
				line-height: 40px;
				border-radius: 50%;
				top: -65px;
				box-shadow: 0px 2px 0px 0px #777777;

				&::after {
					content: '';
					display: block;
					border-bottom: 0px solid transparent;
					border-top: 10px solid #777;
					border-right: 10px solid transparent;
					border-left: 10px solid transparent;
					position: absolute;
					left: 10px;
				}
			}

			.theme-green .back-bar .pointer {
				width: 15px;
				height: 25px;
				top: -10px;
				border-radius: 0;
				border: 1px solid #fff;
				background-color: #14c3a3;
				background-image: none;
			}
			/*-- range slider end --*/
		}
	}
}

/*-- hacks start --*/

/*-- point table start --*/
.user-wrap-outer {
	padding: 30px;

	.user-box {
		// width: 16.66%;
		// float: left;
		// padding-right: 15px;
		text-align: center;
		
		.user-point {
			background: rgba(0,0,0,0.3);
			color: #fff;
			border-radius: 20px;
			-webkit-border-radius: 20px;
			-moz-border-radius: 20px;
			display: block;
			padding: 6px;
		}

		.user-image {
			text-align: center;
			margin: 0 auto;			
			img {
				transition:all 0.5s;				
			}
			
			&:hover img {
				 @extend .rotate-image;
			}
		}
		.change-avatar{
		    cursor: pointer;
			padding: 5px;
			border: 2px solid #fff0;
		&.active{
			border: 2px solid #fff;			
		}
	}

		.username-text {
			color: #fff;
			font-size: 16px;
			line-height: 30px;
			text-align: center !important;
		}
	}
}

.accordion-outer {
	margin-bottom: 30px;

	.accordion-header {
		background: rgba(0, 0, 0, 0.3);
		border-radius: 40px;
		padding: 15px 20px;
		cursor: pointer;
		margin-bottom: 5px;

		.header-item-left {
			float: left;
			position: relative;

			.head-number {
				border-radius: 50%;
				background: #ffffff;
				line-height: 50px;
				width: 50px;
				display: block;
				text-align: center;
				font-size: 20px;
				font-weight: 700;
				color: #00d1cd;
				margin-right: 15px;
			}

			.head-name {
				font-size: 24px;
				margin-top: 7px;
				color: #ffffff;
				font-weight: 700;
			}
		}

		.header-item-right {
			float: right;

			.head-count {
				background: #fff;
				border-radius: 30px;
				padding: 5px 25px;
				font-size: 20px;
				font-weight: 700;
				color: #00d1cd;
				margin-top: 7px;
				display: inline-block;
			}

			.head-point {
				font-size: 24px;
				margin: 0 40px 0 10px;
				color: #fff;
			}

			button.head-arrow {
				border: none;
				background: #fff;
				outline: none;
				border-radius: 50%;
				width: 50px;
				line-height: 50px;
				font-size: 24px;
				font-weight: 700;
				color: #00d1cd;
				text-align: center;

				span.arrow-icon {
					display: block;
					-ms-transform: rotate(-90deg);
					-webkit-transform: rotate(-90deg);
					transform: rotate(-90deg);
					transition: all 0.5s;
				}

				span.arrow-icon.rotate {
					-ms-transform: rotate(90deg);
					-webkit-transform: rotate(90deg);
					transform: rotate(90deg);
					transition: all 0.5s;
				}
			}
		}
	}

	.accordion-body {
		background: rgba(0, 0, 0, 0.3);
		border-radius: 20px;
		z-index: -1;

		p {
			color: #fff;
			font-size: 16px;
			line-height: 30px;
		}

		p.accordion-info {
			padding: 30px 30px 0 30px;
		}
	}
}
/*-- point table end --*/

.mb-15 {
	margin-bottom: 15px;
}

.mb-20 {
	margin-bottom: 20px;
}

.mb-30 {
	margin-bottom: 30px;
}

.mb-40 {
	margin-bottom: 40px;
}

.mb-50 {
	margin-bottom: 50px;
}

.mt-15 {
	margin-top: 15px;
}

.mb-20 {
	margin-top: 20px;
}

.mb-30 {
	margin-top: 30px;
}

.mb-40 {
	margin-top: 40px;
}

.mb-50 {
	margin-top: 50px;
}

.panel {
    background-color: transparent;
}

/*-- my group start --*/
.top-user-wrapper {
	padding: 0 10%;
	
	.group-heading {
		margin: 50px 0;
    	text-align: center;

		h1 {
			color: #ffffff;
			margin-bottom: 25px;
		}

		.circle-cards-wrapper {
			margin: 0 15px;
			width: 140px;
			height: 140px;
			background: #fff;
			border-radius: 50%;
			display: inline-block;
			position: relative;
			box-shadow: 5px 5px 0 0 rgba(0, 0, 0, 0.3);
			-moz-box-shadow: 5px 5px 0 0 rgba(0, 0, 0, 0.3);
			-webkit-box-shadow: 5px 5px 0 0 rgba(0, 0, 0, 0.3);
			-ms-box-shadow: 5px 5px 0 0 rgba(0, 0, 0, 0.3);

			.card-inner {
				position: absolute;
				transform: translate(-50%, -50%);
				top: 50%;
				left: 50%;
				text-align: center;
				margin: 0 auto;
				width: 100%;

				.card-number {
					font-size: 34px;
					font-weight: 700;
					color: #4e62d2;
				}

				.card-text {
					font-size: 18px;
					font-weight: 700;
					color: #4e62d2;
				}
			}
		}
	}

	.accordion-outer {
		margin-bottom: 50px;
		
		.accordion-header {
			
			.header-item-left {
				
				.user-image {
					position: absolute;
					top: -35px;
					left: -23px;
				}

				.head-name {
					margin-left: 110px;
				}
			}

			.header-item-right {

				.head-count {
					color: #4e62d2;
				}

				button.head-arrow {
					color: #4e62d2;
				}
			}
		}
	}

	.user-wrap-outer {
		padding: 30px;
	}
}
/*-- my group end --*/

/*-- info start --*/
.info-wrapper {

	.info-outer-box {
		background: rgba(0,0,0,0.3);
		padding: 20px;
		border-radius: 20px;
		
		h1 {
			color: #ffffff;
		}

		p {
			color: #ffffff;
		}
	}
}
/*-- info end --*/

/*-- edit profile start --*/
.edit-profile-wrapper {

	h1 {
		color: #ffffff;
	}

	h3 {
		color: #ffffff;
	}

	label {
		color: #ffffff;
	}

	.horizontal-line {
		height: 1px;
		border-bottom: 1px solid #000000;
	}
}
/*-- edit profile end --*/

/*-- login start --*/
.login-wrapper {
	padding: 0 20%;

	.login-logo {
		margin: 0 auto;
		text-align: center;
		margin-top: 30px;

		img {
			max-width: 100%;
		}
	}

	.login-from-outer {
		background: url(../images/login-form-bg.png);
		max-width: 456px;
		margin: 0 auto;
		padding: 50px 35px;
		background-size: 100% 100%;

		label {
			color: #fff;
			font-weight: normal;
		}

		.link-login-form {
			color: #ffffff;
		}

		.button-box {
			max-width: 150px;
			margin: 0 auto;

			.btn-login-form {
				background: url(../images/button-bg.png);
				display: block;
				text-align: center;
				background-size: 100% 100%;
				font-size: 22px;
				color: #456f0a;
				font-weight: bold;
				background-repeat: no-repeat;
				border: 0;
				width: 150px;
				height: 54px;
				outline: 0;
			}
		}
	}

	.login-info-wraper {
		color: #ffffff;
		text-align: center;
		margin:50px 0;

		.main-info-title {

			h1 {
				font-weight: normal;
				margin-bottom: 20px;
			}
		}

	}

	.info-wrapper {
			margin-bottom: 50px;
		
		.info-outer-box {
			background: rgba(0, 0, 0, 0.3);
			padding: 20px;
			border-radius: 20px;
			position: relative;

			.info-title {
				background: url(../images/button-bg.png);
				background-size: 100%;
				font-size: 22px;
				color: #456f0a;
				background-repeat: no-repeat;
				position: absolute;
				top: -20px;
				width: 155px;

				h1 {
					margin: 15px 0 20px 0;
					color: #456f0a;
					font-size: 18px;
					text-align: center;
				}
			}

			p {
				padding-top: 30px;
				text-align: center;
				position: relative;
				font-size: 14px;

				span.open-quote {
					display: inline-block;
					background: url(../images/quote-open.png);
					background-size: 100% 100%;
					width: 17px;
					height: 17px;
					background-repeat: no-repeat;
					margin-right: 5px;
				}

				span.close-quote {
					display: inline-block;
					background: url(../images/quote-close.png);
					background-size: 100% 100%;
					width: 17px;
					height: 17px;
					background-repeat: no-repeat;
					margin-left: 5px;
					margin-bottom: -7px;
				}
			}
		}
		&:last-child{
			margin-bottom: 0;
		}
	}

}
/*-- login end --*/

/*===========pagination css start here====================*/
.pagination>li>a, .pagination>li>span ,.pagination>li:first-child>a, .pagination>li:first-child>span,.pagination>li:last-child>a, .pagination>li:last-child>span{
    
    border-radius: 50%;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
    padding: 0;
    width: 40px;
    line-height: 38px;
    text-align: center;
    margin: 0 5px;
}

.pagination>.active>a, .pagination>.active>a:focus, .pagination>.active>a:hover, .pagination>.active>span, .pagination>.active>span:focus, .pagination>.active>span:hover {
    background-color: #197c37;
    border-color: #197c37;
}
/*===========pagination css end here====================*/

.form-error,#errormsg {
    color: #000 !important;
    font-size: 14px!important;
	
	strong{
		font-weight:normal!important;
	}
	
}
 

/*========answer option list css start here========*/
.answer{
	margin:15px 0 0 0!important;
	
	 li {
			list-style: none !important;
			border-radius: 5px;
			margin: 5px 0;
			padding: 6px 15px;
			background: #438ac5;
			cursor:pointer;
			
			input[type="radio"]{
				    width: 20px;
					height: 20px;
					margin-top: 4px;
					float: left;
					background: red;
			}
			
			label{
			margin: 3px 0px 0px 7px;
			
			}
	}
}

#timer{
	margin-bottom:20px;
}
/*========answer option list css end here========*/

 
/*===============responsive css start here==================*/
@media(max-width:1100px) {
	
	#left_bgsketch,#right_bgsketch {
		display: none;
	}
	
	/*-- quizzes start --*/
	.quizzes-wrapper {
	
		.col-md-15 {
			width: 25%;
		}
	}
	/*-- quizzes end --*/

}

@media(max-width:991px) {

	#main-wrapper {

		.main-left {
		
		.profile-info {
			background: rgba(0,0,0,0.2);
			border-radius: 25px;
			}
			
			#edit-profile {
				padding: 0; 
				width: 269px;
				line-height: 90px;
				margin: 20px auto 0 auto;
			}
			
			.avtar {
				text-align: center;
				margin-top: 50px;
			}
		}
	}
}

@media(max-width:767px) {
		
	#header {
		margin-top: 62px;

		nav {
			display:none;

			ul {

				li {
					display:block;
					
					a {
						display: block;
						background: none !important;
						width: auto;
						height: auto;
						padding: 8px;
						color: #fff!important;
						
						&.active {
							background: rgba(0,0,0,0.3)!important;
							border-radius: 30px;
						}
					}
				}
			}
		}
	}

	#menuCloseButton {
		display:block;
	}
	
	/*-- quizzes start --*/
	.quizzes-wrapper {
		
		.col-md-15 {
			width: 33.33%;
		}
	}
	/*-- quizzes end --*/

	/*-- point table start --*/
	.point-table-wrapper {
	
		.accordion-outer {

			.accordion-header {

				.header-item-left {

					.head-number {
						line-height: 30px;
						width: 30px;
						font-size: 12px;
						margin-right: 5px;
					}

					.head-name {
						font-size: 14px;
					}
				}

				.header-item-right {

					.head-count {
						padding: 0px 10px;
						font-size: 12px;
						margin-top: 0px;
					}

					.head-point {
						font-size: 12px;
						margin: 0px 0px 0px 0px;
					}

					button.head-arrow {
						width: 30px;
						line-height: 30px;
						font-size: 14px;
					}
				}
			}
		}
	}
	/*-- point table end --*/

	/*-- my group start --*/
	#main-wrapper {

		.top-user-wrapper {

			.accordion-outer {
				margin-bottom: 50px;
			
				.accordion-header {
					padding: 13px;
				
					.header-item-left {

						.user-image {
							top: -35px;
							left: -25px;

							img {
								width: 80%;
							}
						}

						.head-name {
							margin-left: 70px;
						}
					}

					.header-item-right {

						.head-count {
							color: #ef4136;
						}

						button.head-arrow {
							color: #ef4136;
						}
					}
				}
			}
		}
	}
	/*-- my group end --*/
	
	.activities-heading {
		animation:inherit;
		background-size: 100% 100%;
	}

	/*-- my group start --*/
	.top-user-wrapper {
		padding: 0;

		.user-wrap-outer {
			padding: 0px;

			.user-box {
				
				.username-text {
					font-size: 12px;
				}
			}
		}
	}

	.accordion-body { 
		padding: 0;

		.user-wrap-outer {
			padding: 15px;
		}
	}

	/*-- my group start --*/

	

}

@media(min-width:768px) {
	
	#header {

		nav {
			display:block!important;
		}
	}

}

@media(max-width: 480px) {
	.head-name {
		white-space: nowrap; 
		width: 100px; 
		overflow: hidden;
		text-overflow: ellipsis;
	}

	/*-- quizzes start --*/
	.quizzes-wrapper {

		.col-md-15 {
			width: 50%;
		}


	}
	/*-- quizzes end --*/
}

@media(max-width: 320px) {

	/*-- quizzes start --*/
	.quizzes-wrapper {

		.circle-box {
			min-height: 160px;
		}
	}
	/*-- quizzes end --*/
}

#errormsg{color:#a94442;}