/*==============mohit color css start here=============*/
$green-color:#19b250;
$orange-color:#e88f1d;
$pink-color:#ce3f39;
$yellow-color:#e9901e;
$light-blue:#09b5c4;
$dark-blue:#31b5aa;
$white:#ffffff;


$green-background:#24b24e;
$my-group-background:#ef4136;
 	
/*==============mohit color css end here=============*/

$main-font:'Raleway',Lucida,sans-serif;
$container:1170px;
$opacity-background:rgba(0,0,0,0.1);



/*=======border radius=======*/
@mixin border-radius($radius){
	 border-radius:$radius;
	-webkit-border-radius:$radius;
	-moz-border-radius:$radius;
	-o-border-radius:$radius;
	-ms-border-radius:$radius;
}
/*=======border radius=======*/


/*===========transition=========*/
@mixin transition($property,$timing){
	transition:$property $timing;
	-webkit-transition:$property $timing;
	-moz-transition:$property $timing;
	-o-transition:$property $timing;
	-ms-transition:$property $timing;	
}
/*===========transition=========*/



/*===========TRANSFORM rotateY=========*/
@mixin transform($rotatey) {
	transform:rotateY($rotatey);
	-webkit-transform:rotateY($rotatey);
	-moz-transform:rotateY($rotatey);
	-o-transform:rotateY(rotatey);
	-ms-transform:rotateY($rotatey);
}
/*===========TRANSFORM rotateY=========*/


 


 

/*======avtar animation start========*/
 
/*======avtar animation end========*/

 

/*===text color start===*/
$main-text:#303838;
/*===text color end===*/




