/*==============mohit color css start here=============*/

/*==============mohit color css end here=============*/

/*=======border radius=======*/

/*=======border radius=======*/

/*===========transition=========*/

/*===========transition=========*/

/*===========TRANSFORM rotateY=========*/

/*===========TRANSFORM rotateY=========*/

/*======avtar animation start========*/

/*======avtar animation end========*/

/*===text color start===*/

/*===text color end===*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: url(/images/bg.png?3ed1c2ceb0697105ca9684e9ddd1be1e) no-repeat;
  background-attachment: fixed;
  font-family: "Raleway", Lucida, sans-serif;
  color: #303838;
  margin-bottom: 70px;
  font-size: 16px;
}

li {
  list-style: none;
}

a:link,
a:hover,
a:visited,
a:focus {
  text-decoration: none;
  outline: none;
}

img {
  max-width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 800;
}

.my-profile-bg {
  background-color: #09b5c4;
}

.my-group-bg {
  background-color: #4e62d2;
}

.group {
  background-color: #24b24e;
}

.quizess-bg {
  background-color: #246ca9;
}

.hacks-bg {
  background-color: #19b195;
}

.point-table-bg {
  background-color: #00d1cd;
}

.info-bg {
  background-color: #cc9040;
}

.edit-profile {
  background-color: #b56530;
}

.edit-profile {
  background-color: #b56530;
}

.login-bg {
  background-color: #67c728;
}

@-webkit-keyframes slideInLeft {
  0% {
    transform: translate3d(-10%, 0, 0);
    visibility: visible;
  }

  to {
    transform: translateZ(0);
  }
}

@keyframes slideInLeft {
  0% {
    transform: translate3d(-10%, 0, 0);
    visibility: visible;
  }

  to {
    transform: translateZ(0);
  }
}

.slideInLeft {
  -webkit-animation: slideInLeft 1s;
          animation: slideInLeft 1s;
}

@-webkit-keyframes avtaranimation {
  0% {
    transform: translateY(0px);
    -webkit-transform: translateY(0px);
    -moz-transform: translateY(0px);
    -o-transform: translateY(0px);
    -ms-transform: translateY(0px);
  }

  50% {
    transform: translateY(-50px);
    -webkit-transform: translateY(-50px);
    -moz-transform: translateY(-50px);
    -o-transform: translateY(-50px);
    -ms-transform: translateY(-50px);
  }

  100% {
    transform: translateY(0px);
    -webkit-transform: translateY(0px);
    -moz-transform: translateY(0px);
    -o-transform: translateY(0px);
    -ms-transform: translateY(0px);
  }
}

@keyframes avtaranimation {
  0% {
    transform: translateY(0px);
    -webkit-transform: translateY(0px);
    -moz-transform: translateY(0px);
    -o-transform: translateY(0px);
    -ms-transform: translateY(0px);
  }

  50% {
    transform: translateY(-50px);
    -webkit-transform: translateY(-50px);
    -moz-transform: translateY(-50px);
    -o-transform: translateY(-50px);
    -ms-transform: translateY(-50px);
  }

  100% {
    transform: translateY(0px);
    -webkit-transform: translateY(0px);
    -moz-transform: translateY(0px);
    -o-transform: translateY(0px);
    -ms-transform: translateY(0px);
  }
}

.rotate-image,
.user-wrap-outer .user-box .user-image:hover img,
#main-wrapper .main-right .activity-inner-wrap .circle-box:hover img {
  transform: rotateY(360deg);
}

@-webkit-keyframes heading-cloud-animation {
  0% {
    background-position: 0x;
  }

  100% {
    background-position: 190px;
  }
}

@keyframes heading-cloud-animation {
  0% {
    background-position: 0x;
  }

  100% {
    background-position: 190px;
  }
}

/*=======header css start=========*/

#header {
  margin-top: 40px;
  position: relative;
}

#header nav {
  text-align: center;
}

#header nav ul {
  text-align: center;
}

#header nav ul li {
  display: inline;
  position: relative;
}

#header nav ul li a {
  color: #fff;
  font-size: 16px;
  width: 117px;
  height: 75px;
  display: inline-block;
  text-align: center;
  padding-top: 30px;
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  -ms-transition: all 0.5s;
}

#header nav ul li a.active,
#header nav ul li a:hover {
  background: url(/images/active-menu.png?1e30dbd1e48963164d0e604a1567c169) left top no-repeat;
  color: #000;
}

#menuCloseButton {
  background: url(/images/threelines.png?fe6c903368d57740ea2dec1db589440f) center center no-repeat;
  border: 1px solid #fff;
  cursor: pointer;
  height: 40px;
  position: absolute;
  right: 15px;
  top: 15px;
  width: 46px;
  z-index: 1000;
  display: none;
}

.swal-button,
.swal-button:hover,
.swal-button:link,
.swal-button:visited {
  border: 0;
  border-radius: 15px;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font: 800 14px/1.1 Raleway, Lucida, sans-serif;
  padding: 7px 20px;
  text-transform: uppercase;
  transition: background-color 0.1s ease-in-out, transform 0.1s ease-in-out;
  text-decoration: none;
  outline: none;
  background: #24b24e;
}

.swal-footer {
  text-align: center;
}

/*=======header css end=========*/

/*-- owl carousel css start --*/

.owl-nav {
  position: absolute;
  top: -79px;
  right: 0px;
}

.owl-nav button {
  outline: none;
}

.owl-nav button.owl-prev,
.owl-nav button.owl-next {
  width: 35px;
  line-height: 35px !important;
  background: #fff !important;
  border-radius: 50%;
  margin-left: 5px;
  font-size: 20px !important;
  text-align: center;
  font-weight: 600 !important;
}

/*-- owl carousel css end --*/

#main-wrapper {
  margin-top: 70px;
  /*==== main left part css start ====*/
  /*==== main left part css end ====*/
  /*==== main right part css start ====*/
  /*==== main right part css end ====*/
}

#main-wrapper .main-left .avtar {
  text-align: center;
}

#main-wrapper .main-left .avtar img {
  animation: avtaranimation 4s infinite linear;
  -webkit-animation: avtaranimation 4s infinite linear;
  -moz-animation: avtaranimation 4s infinite linear;
  -o-animation: avtaranimation 4s infinite linear;
  -ms-animation: avtaranimation 4s infinite linear;
}

#main-wrapper .main-left .profile-info {
  background: url(/images/profile-info-bg.png?c1e9da4b3a55f9ace161b1baf4e56215);
  padding: 50px 35px;
  background-size: 100% 100%;
}

#main-wrapper .main-left .profile-info h1 {
  font-size: 24px;
  font-weight: 800;
  color: #fff;
  padding-bottom: 10px;
  margin: 0;
}

#main-wrapper .main-left .profile-info img {
  display: block;
  margin: 0 auto;
}

#main-wrapper .main-left .profile-info ul li {
  padding: 8px 0;
}

#main-wrapper .main-left .profile-info ul li:hover .point-number {
  transform: rotateY(360deg);
  -webkit-transform: rotateY(360deg);
  -moz-transform: rotateY(360deg);
  -o-transform: rotateY(360deg);
  -ms-transform: rotateY(360deg);
}

#main-wrapper .main-left .profile-info ul li .point-number {
  font-size: 24px;
  color: #000;
  width: 50px;
  line-height: 50px;
  background: #fff;
  border-radius: 50%;
  display: inline-block;
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  transition: all 1s;
  -webkit-transition: all 1s;
  -moz-transition: all 1s;
  -o-transition: all 1s;
  -ms-transition: all 1s;
}

#main-wrapper .main-left .profile-info ul li .point-text {
  font-size: 16px;
  margin-left: 10px;
  color: #fff;
}

#main-wrapper .main-left #edit-profile {
  background: url(/images/button-bg.png?52a41cd162f7f7b7cff76cdee7163f23);
  display: block;
  text-align: center;
  padding: 27px;
  background-size: 100%;
  font-size: 22px;
  color: #000;
  font-weight: bold;
  margin-top: 18px;
}

#main-wrapper .main-right .activity-inner-wrap {
  text-align: center;
  font-weight: bold;
  font-size: 14px;
}

#main-wrapper .main-right .activity-inner-wrap .circle-box img {
  transition: all 1s;
  -webkit-transition: all 1s;
  -moz-transition: all 1s;
  -o-transition: all 1s;
  -ms-transition: all 1s;
}

#main-wrapper .main-right .activity-inner-wrap .circle-box p {
  color: #ffffff;
}

.activities-heading {
  text-align: center;
  margin: 30px 0;
  background: url(/images/heading-bg.png?72fd0f78a67b86c27899d0d082ca628f) no-repeat center center;
  color: #fff;
  padding: 35px;
  -webkit-animation: heading-cloud-animation linear 1s infinite alternate;
          animation: heading-cloud-animation linear 1s infinite alternate;
}

/*-- progress bar start --*/

.progress-bar-wrapper {
  margin-top: 25px;
}

.progress-bar-wrapper h2 {
  color: #fff;
  font-size: 25px;
  text-transform: capitalize;
  padding-bottom: 15px;
  margin: 0;
}

.progress-bar-wrapper .progress {
  height: 28px;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -o-border-radius: 20px;
  -ms-border-radius: 20px;
  background: rgba(0, 0, 0, 0.2);
  position: relative;
}

.progress-bar-wrapper .progress .circle-start {
  width: 27px;
  line-height: 27px;
  background: #fff;
  border-radius: 50%;
  position: absolute;
  left: 0;
  text-align: center;
  font-weight: bold;
}

.progress-bar-wrapper .progress .circle-end {
  position: absolute;
  right: 14px;
  color: #fff;
  top: 3px;
  font-weight: bold;
}

.progress-bar-wrapper .progress .progress-bar.pink {
  background-color: #ee5e5a;
}

.progress-bar-wrapper .progress .progress-bar.yellow {
  background-color: #f0ad4e;
}

/*-- progress bar end --*/

.flying-girl {
  position: absolute;
  top: 30px;
  left: 85%;
  z-index: -1;
  -webkit-animation: girl-animation 300s linear infinite;
          animation: girl-animation 300s linear infinite;
}

@-webkit-keyframes girl-animation {
  0% {
    right: 0%;
  }

  100% {
    left: -15%;
    top: 100%;
  }
}

@keyframes girl-animation {
  0% {
    right: 0%;
  }

  100% {
    left: -15%;
    top: 100%;
  }
}

/*-- post form start --*/

.post-wrapper .postform-textarea {
  height: 110px !important;
  font-family: "Raleway", Lucida, sans-serif;
  line-height: 1.4;
  margin-bottom: 15px;
}

.form-control {
  resize: none;
  box-sizing: border-box;
  border-radius: 9px;
  border: 0;
  padding: 22px 25px;
  outline: 0;
  font-size: 15px;
  line-height: 0.7;
  color: #222;
  overflow: auto;
  vertical-align: top;
  background: rgba(0, 0, 0, 0.3);
  color: #ffff;
  box-shadow: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  -ms-box-shadow: none;
}

.form-control:focus {
  box-shadow: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  -ms-box-shadow: none;
}

.form-control::-webkit-input-placeholder {
  color: rgba(255, 255, 255, 0.8);
}

.form-control::-moz-placeholder {
  color: rgba(255, 255, 255, 0.8);
}

.form-control:-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.8);
}

.form-control::-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.8);
}

.form-control::placeholder {
  color: rgba(255, 255, 255, 0.8);
}

.btn-form {
  background: transparent;
  border: 2px solid #fff;
  border-radius: 15px;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font: 800 14px/1.1 Raleway, Lucida, sans-serif;
  padding: 7px 20px;
  text-transform: uppercase;
  transition: background-color 0.1s ease-in-out, transform 0.1s ease-in-out;
  text-decoration: none;
  outline: none;
}

.btn-form:hover {
  background: #fff;
  color: #303838;
}

.post-detail-wraper {
  margin-top: 30px;
}

.post-detail-wraper .post-item {
  margin-bottom: 30px;
}

.post-detail-wraper .post-item .media-img {
  box-sizing: border-box;
  width: 10%;
  float: left;
  margin: 0 1%;
}

.post-detail-wraper .post-item .media-body {
  float: left;
  width: 85%;
  margin: 0 1%;
}

.post-detail-wraper .post-item .media-body .author-info {
  margin-bottom: 10px;
}

.post-detail-wraper .post-item .media-body .author-info .author-name {
  font-size: 20px;
  line-height: 0.9;
  padding: 0 0 10px;
  margin: 0;
  color: #ffffff;
  font-weight: 700;
}

.post-detail-wraper .post-item .media-body .author-info .author-date {
  color: #fff;
  font-size: 13px;
}

.post-detail-wraper .post-item .media-body .author-info .author-status {
  color: #effd45;
  vertical-align: inherit;
}

.post-detail-wraper .post-item .media-body .post-content {
  color: #ffffff;
  background: rgba(0, 0, 0, 0.3);
  border-radius: 5px;
  padding: 20px;
  font-size: 16px;
}

/*-- post form start --*/

/*-- quizzes start --*/

.quizzes-wrapper .col-md-15 {
  float: left;
  width: 20%;
  padding: 15px;
}

.quizzes-wrapper p {
  font-weight: normal;
  color: #fff;
}

.quizzes-wrapper .circle-box {
  cursor: pointer;
  min-height: 195px;
}

.quizzes-modal .modal-content {
  border-radius: 20px;
  background: #20639b;
}

.quizzes-modal .modal-content .modal-body {
  position: relative;
  text-align: center;
  color: #ffffff;
  padding: 40px 15px;
}

.quizzes-modal .modal-content .modal-body h1 {
  text-align: center;
  color: #ffffff;
  margin-bottom: 15px;
  margin-top: 0;
}

.quizzes-modal .modal-content .modal-body p {
  text-align: center;
  color: #ffffff;
}

.quizzes-modal .modal-content .modal-body a.btn-close {
  position: absolute;
  top: -10px;
  right: -10px;
  background: #fff;
  border-radius: 50%;
  width: 40px;
  line-height: 40px;
  text-align: center;
}

.quizzes-modal .modal-content .modal-body a.btn-close img {
  width: 30%;
}

.quizzes-modal .modal-content .modal-body .btn-form {
  margin-top: 20px;
}

.quiz-progress-bar .progress .progress-bar.pink {
  background-color: #ee5e5a;
}

.disabled.page-cover {
  position: relative;
  height: 100%;
}

.disabled.page-cover p {
  width: 100%;
  text-align: center;
  padding: 300px 0;
  background: #333333d9;
  position: absolute;
  z-index: 9;
  top: -30px;
  font-size: 24px;
  color: #fff;
}

/*-------quizzes table----------*/

#quizz_result table {
  background: #09b5c4;
  border: #fff solid 1px;
}

#quizz_result .table thead {
  background: #ea5f65;
}

#quizz_result .table tr td {
  text-align: left;
}

.swal-modal {
  background: #eb5b61;
  border-radius: 15px 50px;
}

.swal-icon--success:after,
.swal-icon--success:before {
  background: #eb5b61;
}

.swal-icon--success__ring {
  border: 4px solid white;
}

.swal-icon--success__hide-corners {
  background-color: #fff0;
}

.swal-button.swal-button--confirm {
  background: #f5b556;
}

.swal-button.swal-button--confirm:hover {
  color: #f5b556;
  background: #fff;
}

.swal-button--cancel:hover {
  background-color: #fff;
  color: #24b24e;
}

.swal-title {
  color: #fff;
  font-size: 27px;
}

.swal-text {
  color: #fff;
  font-size: 18px;
  text-align: center;
}

.swal-icon--success__line {
  background-color: #f5b556;
}

/*-------quizzes table----------*/

/*-- quizzes end --*/

/*-- hacks start --*/

.smaller-plate-modal .modal-content {
  border-radius: 20px;
  background: #14c3a3;
}

.smaller-plate-modal .modal-content .modal-body {
  position: relative;
  text-align: center;
  color: #ffffff;
  padding: 40px 15px;
}

.smaller-plate-modal .modal-content .modal-body h1 {
  text-align: center;
  color: #ffffff;
  margin-bottom: 15px;
  margin-top: 0;
}

.smaller-plate-modal .modal-content .modal-body p {
  text-align: center;
  color: #ffffff;
}

.smaller-plate-modal .modal-content .modal-body a.btn-close {
  position: absolute;
  top: -10px;
  right: -10px;
  background: #fff;
  border-radius: 50%;
  width: 40px;
  line-height: 40px;
  text-align: center;
}

.smaller-plate-modal .modal-content .modal-body a.btn-close img {
  width: 30%;
}

.smaller-plate-modal .modal-content .modal-body label.btn-question {
  display: block;
  background: #ffffff;
  padding: 5px;
  margin: 15px;
  border-radius: 20px;
  color: #000000;
  box-shadow: 0px 4px 0px 0px rgba(0, 0, 0, 0.3);
}

.smaller-plate-modal .modal-content .modal-body label.btn-question:hover {
  background: rgba(255, 255, 255, 0.7);
}

.smaller-plate-modal .modal-content .modal-body input[type=radio]:checked + label {
  background: rgba(154, 147, 147, 0.57);
  color: #fff;
}

.smaller-plate-modal .modal-content .modal-body .question-box {
  margin: 50px 0;
}

.smaller-plate-modal .modal-content .modal-body .btn-form {
  margin-top: 20px;
}

.race-modal .modal-content {
  border-radius: 20px;
  background: #14c3a3;
}

.race-modal .modal-content .modal-body {
  position: relative;
  text-align: center;
  color: #ffffff;
  padding: 40px 15px;
  /*-- range slider start --*/
  /*-- range slider end --*/
}

.race-modal .modal-content .modal-body h1 {
  text-align: center;
  color: #ffffff;
  margin-bottom: 15px;
  margin-top: 0;
}

.race-modal .modal-content .modal-body p {
  text-align: center;
  color: #ffffff;
}

.race-modal .modal-content .modal-body a.btn-close {
  position: absolute;
  top: -10px;
  right: -10px;
  background: #fff;
  border-radius: 50%;
  width: 40px;
  line-height: 40px;
  text-align: center;
}

.race-modal .modal-content .modal-body a.btn-close img {
  width: 30%;
}

.race-modal .modal-content .modal-body label.btn-question {
  display: block;
  background: #ffffff;
  padding: 5px;
  margin: 15px;
  border-radius: 20px;
  color: #000000;
  box-shadow: 0px 4px 0px 0px rgba(0, 0, 0, 0.3);
}

.race-modal .modal-content .modal-body .btn-form {
  margin-top: 20px;
}

.race-modal .modal-content .modal-body .scale {
  display: none;
}

.race-modal .modal-content .modal-body .pointer {
  cursor: pointer;
}

.race-modal .modal-content .modal-body .slider-container {
  margin: 0 auto;
  padding: 100px 0 20px 0;
}

.race-modal .modal-content .modal-body .pointer-label {
  font-size: 16px;
  background: white;
  width: 40px;
  line-height: 40px;
  border-radius: 50%;
  top: -65px;
  box-shadow: 0px 2px 0px 0px #777777;
}

.race-modal .modal-content .modal-body .pointer-label::after {
  content: "";
  display: block;
  border-bottom: 0px solid transparent;
  border-top: 10px solid #777;
  border-right: 10px solid transparent;
  border-left: 10px solid transparent;
  position: absolute;
  left: 10px;
}

.race-modal .modal-content .modal-body .theme-green .back-bar .pointer {
  width: 15px;
  height: 25px;
  top: -10px;
  border-radius: 0;
  border: 1px solid #fff;
  background-color: #14c3a3;
  background-image: none;
}

/*-- hacks start --*/

/*-- point table start --*/

.user-wrap-outer {
  padding: 30px;
}

.user-wrap-outer .user-box {
  text-align: center;
}

.user-wrap-outer .user-box .user-point {
  background: rgba(0, 0, 0, 0.3);
  color: #fff;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  display: block;
  padding: 6px;
}

.user-wrap-outer .user-box .user-image {
  text-align: center;
  margin: 0 auto;
}

.user-wrap-outer .user-box .user-image img {
  transition: all 0.5s;
}

.user-wrap-outer .user-box .change-avatar {
  cursor: pointer;
  padding: 5px;
  border: 2px solid #fff0;
}

.user-wrap-outer .user-box .change-avatar.active {
  border: 2px solid #fff;
}

.user-wrap-outer .user-box .username-text {
  color: #fff;
  font-size: 16px;
  line-height: 30px;
  text-align: center !important;
}

.accordion-outer {
  margin-bottom: 30px;
}

.accordion-outer .accordion-header {
  background: rgba(0, 0, 0, 0.3);
  border-radius: 40px;
  padding: 15px 20px;
  cursor: pointer;
  margin-bottom: 5px;
}

.accordion-outer .accordion-header .header-item-left {
  float: left;
  position: relative;
}

.accordion-outer .accordion-header .header-item-left .head-number {
  border-radius: 50%;
  background: #ffffff;
  line-height: 50px;
  width: 50px;
  display: block;
  text-align: center;
  font-size: 20px;
  font-weight: 700;
  color: #00d1cd;
  margin-right: 15px;
}

.accordion-outer .accordion-header .header-item-left .head-name {
  font-size: 24px;
  margin-top: 7px;
  color: #ffffff;
  font-weight: 700;
}

.accordion-outer .accordion-header .header-item-right {
  float: right;
}

.accordion-outer .accordion-header .header-item-right .head-count {
  background: #fff;
  border-radius: 30px;
  padding: 5px 25px;
  font-size: 20px;
  font-weight: 700;
  color: #00d1cd;
  margin-top: 7px;
  display: inline-block;
}

.accordion-outer .accordion-header .header-item-right .head-point {
  font-size: 24px;
  margin: 0 40px 0 10px;
  color: #fff;
}

.accordion-outer .accordion-header .header-item-right button.head-arrow {
  border: none;
  background: #fff;
  outline: none;
  border-radius: 50%;
  width: 50px;
  line-height: 50px;
  font-size: 24px;
  font-weight: 700;
  color: #00d1cd;
  text-align: center;
}

.accordion-outer .accordion-header .header-item-right button.head-arrow span.arrow-icon {
  display: block;
  transform: rotate(-90deg);
  transition: all 0.5s;
}

.accordion-outer .accordion-header .header-item-right button.head-arrow span.arrow-icon.rotate {
  transform: rotate(90deg);
  transition: all 0.5s;
}

.accordion-outer .accordion-body {
  background: rgba(0, 0, 0, 0.3);
  border-radius: 20px;
  z-index: -1;
}

.accordion-outer .accordion-body p {
  color: #fff;
  font-size: 16px;
  line-height: 30px;
}

.accordion-outer .accordion-body p.accordion-info {
  padding: 30px 30px 0 30px;
}

/*-- point table end --*/

.mb-15 {
  margin-bottom: 15px;
}

.mb-20 {
  margin-bottom: 20px;
}

.mb-30 {
  margin-bottom: 30px;
}

.mb-40 {
  margin-bottom: 40px;
}

.mb-50 {
  margin-bottom: 50px;
}

.mt-15 {
  margin-top: 15px;
}

.mb-20 {
  margin-top: 20px;
}

.mb-30 {
  margin-top: 30px;
}

.mb-40 {
  margin-top: 40px;
}

.mb-50 {
  margin-top: 50px;
}

.panel {
  background-color: transparent;
}

/*-- my group start --*/

.top-user-wrapper {
  padding: 0 10%;
}

.top-user-wrapper .group-heading {
  margin: 50px 0;
  text-align: center;
}

.top-user-wrapper .group-heading h1 {
  color: #ffffff;
  margin-bottom: 25px;
}

.top-user-wrapper .group-heading .circle-cards-wrapper {
  margin: 0 15px;
  width: 140px;
  height: 140px;
  background: #fff;
  border-radius: 50%;
  display: inline-block;
  position: relative;
  box-shadow: 5px 5px 0 0 rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 5px 5px 0 0 rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 5px 5px 0 0 rgba(0, 0, 0, 0.3);
  -ms-box-shadow: 5px 5px 0 0 rgba(0, 0, 0, 0.3);
}

.top-user-wrapper .group-heading .circle-cards-wrapper .card-inner {
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  text-align: center;
  margin: 0 auto;
  width: 100%;
}

.top-user-wrapper .group-heading .circle-cards-wrapper .card-inner .card-number {
  font-size: 34px;
  font-weight: 700;
  color: #4e62d2;
}

.top-user-wrapper .group-heading .circle-cards-wrapper .card-inner .card-text {
  font-size: 18px;
  font-weight: 700;
  color: #4e62d2;
}

.top-user-wrapper .accordion-outer {
  margin-bottom: 50px;
}

.top-user-wrapper .accordion-outer .accordion-header .header-item-left .user-image {
  position: absolute;
  top: -35px;
  left: -23px;
}

.top-user-wrapper .accordion-outer .accordion-header .header-item-left .head-name {
  margin-left: 110px;
}

.top-user-wrapper .accordion-outer .accordion-header .header-item-right .head-count {
  color: #4e62d2;
}

.top-user-wrapper .accordion-outer .accordion-header .header-item-right button.head-arrow {
  color: #4e62d2;
}

.top-user-wrapper .user-wrap-outer {
  padding: 30px;
}

/*-- my group end --*/

/*-- info start --*/

.info-wrapper .info-outer-box {
  background: rgba(0, 0, 0, 0.3);
  padding: 20px;
  border-radius: 20px;
}

.info-wrapper .info-outer-box h1 {
  color: #ffffff;
}

.info-wrapper .info-outer-box p {
  color: #ffffff;
}

/*-- info end --*/

/*-- edit profile start --*/

.edit-profile-wrapper h1 {
  color: #ffffff;
}

.edit-profile-wrapper h3 {
  color: #ffffff;
}

.edit-profile-wrapper label {
  color: #ffffff;
}

.edit-profile-wrapper .horizontal-line {
  height: 1px;
  border-bottom: 1px solid #000000;
}

/*-- edit profile end --*/

/*-- login start --*/

.login-wrapper {
  padding: 0 20%;
}

.login-wrapper .login-logo {
  margin: 0 auto;
  text-align: center;
  margin-top: 30px;
}

.login-wrapper .login-logo img {
  max-width: 100%;
}

.login-wrapper .login-from-outer {
  background: url(/images/login-form-bg.png?ca6dcabccf8d9d4849a8b97e7396a496);
  max-width: 456px;
  margin: 0 auto;
  padding: 50px 35px;
  background-size: 100% 100%;
}

.login-wrapper .login-from-outer label {
  color: #fff;
  font-weight: normal;
}

.login-wrapper .login-from-outer .link-login-form {
  color: #ffffff;
}

.login-wrapper .login-from-outer .button-box {
  max-width: 150px;
  margin: 0 auto;
}

.login-wrapper .login-from-outer .button-box .btn-login-form {
  background: url(/images/button-bg.png?52a41cd162f7f7b7cff76cdee7163f23);
  display: block;
  text-align: center;
  background-size: 100% 100%;
  font-size: 22px;
  color: #456f0a;
  font-weight: bold;
  background-repeat: no-repeat;
  border: 0;
  width: 150px;
  height: 54px;
  outline: 0;
}

.login-wrapper .login-info-wraper {
  color: #ffffff;
  text-align: center;
  margin: 50px 0;
}

.login-wrapper .login-info-wraper .main-info-title h1 {
  font-weight: normal;
  margin-bottom: 20px;
}

.login-wrapper .info-wrapper {
  margin-bottom: 50px;
}

.login-wrapper .info-wrapper .info-outer-box {
  background: rgba(0, 0, 0, 0.3);
  padding: 20px;
  border-radius: 20px;
  position: relative;
}

.login-wrapper .info-wrapper .info-outer-box .info-title {
  background: url(/images/button-bg.png?52a41cd162f7f7b7cff76cdee7163f23);
  background-size: 100%;
  font-size: 22px;
  color: #456f0a;
  background-repeat: no-repeat;
  position: absolute;
  top: -20px;
  width: 155px;
}

.login-wrapper .info-wrapper .info-outer-box .info-title h1 {
  margin: 15px 0 20px 0;
  color: #456f0a;
  font-size: 18px;
  text-align: center;
}

.login-wrapper .info-wrapper .info-outer-box p {
  padding-top: 30px;
  text-align: center;
  position: relative;
  font-size: 14px;
}

.login-wrapper .info-wrapper .info-outer-box p span.open-quote {
  display: inline-block;
  background: url(/images/quote-open.png?1128e92678e1c6b8d9987300dc53f539);
  background-size: 100% 100%;
  width: 17px;
  height: 17px;
  background-repeat: no-repeat;
  margin-right: 5px;
}

.login-wrapper .info-wrapper .info-outer-box p span.close-quote {
  display: inline-block;
  background: url(/images/quote-close.png?454560f05c4675e4224a61502bb9491e);
  background-size: 100% 100%;
  width: 17px;
  height: 17px;
  background-repeat: no-repeat;
  margin-left: 5px;
  margin-bottom: -7px;
}

.login-wrapper .info-wrapper:last-child {
  margin-bottom: 0;
}

/*-- login end --*/

/*===========pagination css start here====================*/

.pagination > li > a,
.pagination > li > span,
.pagination > li:first-child > a,
.pagination > li:first-child > span,
.pagination > li:last-child > a,
.pagination > li:last-child > span {
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  padding: 0;
  width: 40px;
  line-height: 38px;
  text-align: center;
  margin: 0 5px;
}

.pagination > .active > a,
.pagination > .active > a:focus,
.pagination > .active > a:hover,
.pagination > .active > span,
.pagination > .active > span:focus,
.pagination > .active > span:hover {
  background-color: #197c37;
  border-color: #197c37;
}

/*===========pagination css end here====================*/

.form-error,
#errormsg {
  color: #000 !important;
  font-size: 14px !important;
}

.form-error strong,
#errormsg strong {
  font-weight: normal !important;
}

/*========answer option list css start here========*/

.answer {
  margin: 15px 0 0 0 !important;
}

.answer li {
  list-style: none !important;
  border-radius: 5px;
  margin: 5px 0;
  padding: 6px 15px;
  background: #438ac5;
  cursor: pointer;
}

.answer li input[type=radio] {
  width: 20px;
  height: 20px;
  margin-top: 4px;
  float: left;
  background: red;
}

.answer li label {
  margin: 3px 0px 0px 7px;
}

#timer {
  margin-bottom: 20px;
}

/*========answer option list css end here========*/

/*===============responsive css start here==================*/

@media (max-width: 1100px) {
  #left_bgsketch,
  #right_bgsketch {
    display: none;
  }

  /*-- quizzes start --*/

  .quizzes-wrapper .col-md-15 {
    width: 25%;
  }

  /*-- quizzes end --*/
}

@media (max-width: 991px) {
  #main-wrapper .main-left .profile-info {
    background: rgba(0, 0, 0, 0.2);
    border-radius: 25px;
  }

  #main-wrapper .main-left #edit-profile {
    padding: 0;
    width: 269px;
    line-height: 90px;
    margin: 20px auto 0 auto;
  }

  #main-wrapper .main-left .avtar {
    text-align: center;
    margin-top: 50px;
  }
}

@media (max-width: 767px) {
  #header {
    margin-top: 62px;
  }

  #header nav {
    display: none;
  }

  #header nav ul li {
    display: block;
  }

  #header nav ul li a {
    display: block;
    background: none !important;
    width: auto;
    height: auto;
    padding: 8px;
    color: #fff !important;
  }

  #header nav ul li a.active {
    background: rgba(0, 0, 0, 0.3) !important;
    border-radius: 30px;
  }

  #menuCloseButton {
    display: block;
  }

  /*-- quizzes start --*/

  .quizzes-wrapper .col-md-15 {
    width: 33.33%;
  }

  /*-- quizzes end --*/

  /*-- point table start --*/

  .point-table-wrapper .accordion-outer .accordion-header .header-item-left .head-number {
    line-height: 30px;
    width: 30px;
    font-size: 12px;
    margin-right: 5px;
  }

  .point-table-wrapper .accordion-outer .accordion-header .header-item-left .head-name {
    font-size: 14px;
  }

  .point-table-wrapper .accordion-outer .accordion-header .header-item-right .head-count {
    padding: 0px 10px;
    font-size: 12px;
    margin-top: 0px;
  }

  .point-table-wrapper .accordion-outer .accordion-header .header-item-right .head-point {
    font-size: 12px;
    margin: 0px 0px 0px 0px;
  }

  .point-table-wrapper .accordion-outer .accordion-header .header-item-right button.head-arrow {
    width: 30px;
    line-height: 30px;
    font-size: 14px;
  }

  /*-- point table end --*/

  /*-- my group start --*/

  #main-wrapper .top-user-wrapper .accordion-outer {
    margin-bottom: 50px;
  }

  #main-wrapper .top-user-wrapper .accordion-outer .accordion-header {
    padding: 13px;
  }

  #main-wrapper .top-user-wrapper .accordion-outer .accordion-header .header-item-left .user-image {
    top: -35px;
    left: -25px;
  }

  #main-wrapper .top-user-wrapper .accordion-outer .accordion-header .header-item-left .user-image img {
    width: 80%;
  }

  #main-wrapper .top-user-wrapper .accordion-outer .accordion-header .header-item-left .head-name {
    margin-left: 70px;
  }

  #main-wrapper .top-user-wrapper .accordion-outer .accordion-header .header-item-right .head-count {
    color: #ef4136;
  }

  #main-wrapper .top-user-wrapper .accordion-outer .accordion-header .header-item-right button.head-arrow {
    color: #ef4136;
  }

  /*-- my group end --*/

  .activities-heading {
    -webkit-animation: inherit;
            animation: inherit;
    background-size: 100% 100%;
  }

  /*-- my group start --*/

  .top-user-wrapper {
    padding: 0;
  }

  .top-user-wrapper .user-wrap-outer {
    padding: 0px;
  }

  .top-user-wrapper .user-wrap-outer .user-box .username-text {
    font-size: 12px;
  }

  .accordion-body {
    padding: 0;
  }

  .accordion-body .user-wrap-outer {
    padding: 15px;
  }

  /*-- my group start --*/
}

@media (min-width: 768px) {
  #header nav {
    display: block !important;
  }
}

@media (max-width: 480px) {
  .head-name {
    white-space: nowrap;
    width: 100px;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  /*-- quizzes start --*/

  .quizzes-wrapper .col-md-15 {
    width: 50%;
  }

  /*-- quizzes end --*/
}

@media (max-width: 320px) {
  /*-- quizzes start --*/

  .quizzes-wrapper .circle-box {
    min-height: 160px;
  }

  /*-- quizzes end --*/
}

#errormsg {
  color: #a94442;
}

